<h1>Bem vindo!</h1>
<form class="container" [formGroup]="productForm">
  <div class="form-group">
    <label for="pvp">Preço:</label>
    <input type="number" class="form-control" id="pvp" placeholder="Insira o preço" formControlName="pvp">
  </div>
  <br>
  <div class="form-group">
    <label for="iva">Iva:</label>
    <input type="number" class="form-control" id="iva" placeholder="Insira o iva" formControlName="iva">
  </div>
  <br>
  <div class="form-group">
    <label for="discount">Desconto:</label>
    <input type="number" class="form-control" id="discount" placeholder="Insira o desconto" formControlName="discount">
  </div>
  <br>
  <button type="submit" class="btn btn-primary" (click)="setProductValue()">Submit</button>
</form>

<p>{{productValue}}</p>
